* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#minnesota a {
  text-decoration: none;
  color: black;
}
#minnesota a h2 {
  text-align: center;
  margin-top: 10px;
}
#minnesota a h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
#minnesota a hr {
  width: 150px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#navbar #navbarNav {
  margin-left: 370px;
}
#navbar #navbarNav ul {
  text-align: center;
}
#navbar #navbarNav ul li {
  display: inline;
  padding-right: 5px;
  color: black;
}
#navbar #navbarNav ul li a {
  text-decoration: none;
  color: black;
}
#navbar #coupleIcon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: hotpink;
  font-weight: 100;
  font-size: small;
}
#navbar #coupleIcon p {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  height: 200px;
  background-color: rgb(33, 33, 33);
  color: white;
}
.footer div h2 {
  font-size: medium;
  text-align: center;
}
.footer div h3, .footer div h4 {
  font-size: small;
}

@media screen and (max-width: 400px) {
  #navbar {
    display: flex;
    flex-direction: column;
  }
  #navbar #navbarNav {
    text-align: left;
    margin-left: 0;
  }
  #navbar #navbarNav ul {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  #navbar #navbarNav ul li {
    display: inline;
    margin-left: 0;
  }
  .footer {
    display: flex;
    flex-direction: column;
    height: 60vh;
    gap: 10px;
    background-color: gray;
  }
  .footer div {
    padding-left: 50px;
  }
  .footer div h2 {
    font-size: medium;
  }
  .footer div h1 {
    font-size: 20px;
    text-align: center;
  }
  .footer div h3 {
    font-size: large;
  }
  .footer div hr {
    width: 150px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 150px;
  }
}