* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#minnesota a {
  text-decoration: none;
  color: black;
}
#minnesota a h2 {
  text-align: center;
  margin-top: 10px;
  font-size: large;
}
#minnesota a h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
#minnesota a hr {
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  width: 130px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  width: 100%;
  padding-bottom: 0.5rem;
}
nav .navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
  box-shadow: inset 50px 50px 500px white;
}
nav .navbar-links ul li {
  list-style: none;
}
nav .navbar-links ul li a {
  text-decoration: none;
  color: black;
  padding: 0.3rem;
  display: block;
}
nav .navbar-links ul li:hover {
  background-color: rgb(228, 223, 216);
  border-radius: 10px;
}
nav #coupleIcon {
  position: absolute;
  right: 50px;
  top: 3.8rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: hotpink;
  font-weight: 100;
  font-size: small;
}
nav #coupleIcon p {
  display: flex;
  justify-content: space-between;
}
nav .toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
nav .toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  height: 200px;
  background-color: rgb(33, 33, 33);
  color: white;
}
.footer div h2 {
  font-size: medium;
  text-align: center;
}
.footer div h3, .footer div h4 {
  font-size: small;
}

@media (max-width: 400px) {
  #minnesota {
    position: absolute;
    left: 1rem;
    top: 0.5rem;
  }
  #minnesota a h2, #minnesota a h1 {
    font-size: 15px;
  }
  #minnesota a hr {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 100px;
  }
  nav .toggle-button {
    display: flex;
  }
  nav .navbar-links {
    display: none;
    width: 100%;
    position: relative;
  }
  nav .navbar-links ul {
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 3.5rem;
    z-index: 1;
    font-size: larger;
    font-weight: 700;
  }
  nav .navbar-links ul li {
    text-align: center;
  }
  nav .navbar-links ul li a {
    color: black;
  }
  nav .navbar-links.active {
    display: flex;
  }
  nav #coupleIcon {
    position: absolute;
    top: 1rem;
    right: 7rem;
    font-size: small;
  }
  .footer {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    gap: 10px;
    position: relative;
    background-color: rgb(68, 67, 67);
  }
  .footer div {
    padding-left: 2rem;
  }
  .footer div h2 {
    font-size: medium;
  }
  .footer div h1 {
    font-size: 20px;
    text-align: center;
  }
  .footer div h3 {
    font-size: large;
  }
  .footer div hr {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 150px;
  }
}