* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#minnesota a {
  text-decoration: none;
  color: black;
}
#minnesota a h2 {
  text-align: center;
  margin-top: 10px;
}
#minnesota a h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
#minnesota a hr {
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  background-color: gray;
  width: 150px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
}
nav #navbarNav {
  margin-left: 370px;
}
nav #navbarNav #check {
  display: none;
}
nav #navbarNav .checkbtn {
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
nav #navbarNav ul {
  text-align: center;
}
nav #navbarNav ul li {
  display: inline;
  padding-right: 5px;
  color: black;
}
nav #navbarNav ul li a {
  text-decoration: none;
  color: black;
}
nav #coupleIcon {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: hotpink;
  font-weight: 100;
  font-size: small;
}
nav #coupleIcon p {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  height: 200px;
  background-color: rgb(33, 33, 33);
  color: white;
}
.footer div h2 {
  font-size: medium;
  text-align: center;
}
.footer div h3, .footer div h4 {
  font-size: small;
}

@media screen and (max-width: 400px) {
  #minnesota {
    position: relative;
    left: -120px;
    top: 5px;
  }
  #minnesota a h2, #minnesota a h1 {
    font-size: 15px;
  }
  #minnesota a hr {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 100px;
  }
  nav {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  nav #navbarNav {
    text-align: left;
    margin-left: 0;
    position: relative;
  }
  nav #navbarNav .checkbtn {
    display: block;
    position: relative;
    left: 160px;
    top: -60px;
  }
  nav #navbarNav ul {
    position: fixed;
    width: 100%;
    top: 50px;
    right: -100%;
    text-align: center;
    transition: all 0.2s;
    margin-top: 10px;
  }
  nav #navbarNav ul li {
    display: block;
  }
  nav #navbarNav ul li a {
    font-size: 15px;
    color: black;
    font-size: bold;
  }
  nav #navbarNav #check:checked ~ ul {
    right: 0;
  }
  nav #coupleIcon {
    position: absolute;
    top: -40px;
    font-size: small;
    right: 100px;
  }
  section {
    background-color: white;
    height: 50px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 10px;
    background-color: rgb(117, 85, 85);
  }
  .footer div {
    padding-left: 5px;
  }
  .footer div h2 {
    font-size: medium;
  }
  .footer div h1 {
    font-size: 20px;
    text-align: center;
  }
  .footer div h3 {
    font-size: large;
  }
  .footer div hr {
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
    width: 150px;
  }
}