* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.weddingView {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 200px 20px;
}
.weddingView button {
  border: 0;
  cursor: pointer;
  background-color: white;
}

.prosImg {
  position: relative;
  margin: 0 200px;
}
.prosImg img {
  filter: brightness(60%);
}
.prosImg div {
  color: white;
  position: absolute;
  top: 350px;
  left: 200px;
  text-align: center;
  max-width: 700px;
  font-weight: 700;
}
.prosImg div hr {
  margin-bottom: 5px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.prosImg div h2 {
  margin-bottom: 5px;
}
.prosImg div p {
  margin-top: 5px;
}

.getInspired {
  margin-top: 50px;
  background-color: rgb(250, 207, 214);
  padding: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.getInspired .custom p {
  font-size: 50px;
}
.getInspired #followIcon {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.getInspired #followIcon div {
  display: flex;
  justify-content: space-between;
}
.getInspired .inputType {
  margin-top: 20px;
}
.getInspired .inputType .no-outline {
  border: 5px solid rgb(227, 230, 230);
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
  background-color: rgb(250, 207, 214);
}

@media screen and (max-width: 400px) {
  .weddingView {
    margin: 50px 0 20px 0;
    padding-top: 20px;
  }
  .weddingView h1 {
    font-size: larger;
  }
  .prosImg {
    margin: 0;
  }
  .prosImg img {
    height: 300px;
    width: 100%;
  }
  .prosImg div {
    color: white;
    position: absolute;
    top: 200px;
    left: 45px;
    text-align: center;
    max-width: 500px;
  }
  .prosImg div hr {
    margin-bottom: 5px;
    width: 200px;
  }
  .prosImg div h2 {
    margin-bottom: 5px;
    font-size: large;
  }
  .prosImg div p {
    margin-top: 5px;
    font-size: small;
  }
  .getInspired {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .getInspired .custom p {
    font-size: 30px;
    font-weight: 700;
  }
  .getInspired .chevron {
    visibility: hidden;
  }
}