@mixin horizontal {
    width: 150px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: gray;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//Home page
#minnesota {
    a {
        text-decoration: none;
        color: black;
        h2 {
            text-align: center;
            margin-top: 10px;
        }
        h1 {
            text-align: center;
            font-size: 30px;
            font-weight: 400;
            margin-bottom: 10px;
        }
        hr {
            @include horizontal;
        }
    }
}

nav {
    display: flex;
    justify-content:space-around;
    align-items: center;
    #navbarNav {
        margin-left: 370px;
        #check {
            display: none;
        }
        .checkbtn {
            font-size: 30px;
            color: black;
            float: right;
            line-height: 80px;
            margin-right: 40px;
            cursor: pointer;
            display: none;
        }
        ul {
            text-align: center;
    
            li {
                display: inline;
                padding-right: 5px;
                color: black;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
    #coupleIcon {
        display: flex;
        flex-direction: column;
        gap: 5px;
        color: hotpink;
        font-weight: 100;
        font-size: small;
        p {
            display: flex;
            justify-content: space-between;
        }
    }
}

.footer {
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
    height: 200px;
    background-color: rgb(33, 33, 33);
    color: white;
    div {
        h2{
            font-size: medium;
            text-align: center;
        }
        h3, h4 {
            font-size: small;
        }
        
    }
}

@media screen and (max-width:400px) {
    #minnesota {
        position: absolute;
        top: 5px;
    }
    nav {
        display: flex;
        flex-direction: column;
        #navbarNav {
            text-align: left;
            margin-left: 0;
            .checkbtn {
                display: block;
                margin-left: 330px;
            }
            ul {
                position: fixed;
                width: 100%;
                top: 50px;
                right: -100%;
                text-align: center;
                transition: all .5s;
                li {
                    display: block;
                    margin: 50px 0;
                    line-height: 0;
                    a {
                        font-size: 20px;
                        color: white;
                        font-size: bold;
                    }
                }
            }
            #check:checked ~ ul {
                right: 0;
            }
        }
        #coupleIcon {
            position: absolute;
            top: 30px;
            right: 100px;
        }
    }
    section {
        background: url(../images/DESSSERTS.webp);
        background-size: cover;
        height: calc(30vh - 80px);
    }
    
    .footer {
        display: flex;
        flex-direction: column;
        height: 80vh;
        gap: 10px;
        background-color: rgb(117, 85, 85);
        div {
            padding-left: 5px;
            h2 {
                font-size: medium;
            }
            h1 {
                font-size: 20px;
                text-align: center;
            }
            h3 {
                font-size: large;
            }
            hr {
                @include horizontal;
                width: 150px;
            }
            }
        } 
}
